#myClasses{
padding: 10px 30px; 
background-color: orange; 
display: inline-block; 
justify-content: center; 
width: 300px; 
height: auto;
margin: 20px;
}
.deleteSomeShit{
    margin-left: 99%;
    margin-top: -50%;
    color: white;
    background-color: red;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;  
    border: 1px solid black;
    cursor: pointer;
}
#navBar{
    height: 60px;
    width: 100%;
    background-color: orange;
}