.header {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
.header h1 {
    font-size: 0.8em;
    font-weight: 600;
    color: #585670;
    text-transform: uppercase;
}
.header .viewall-btn:hover {
    cursor: pointer;
    background-color: #EDF3F9;
    transition: all 300ms;
}
.rooms-table {
    border-collapse: collapse;
    margin: 1em 0em;
    font-size: 0.7em;
    font-weight: 400;
    color: #3F3D56;
    width: 100%;
    border: 1px solid #DBDBDB;
    font-family: Poppins;
}
.rooms-table thead tr {
    background-color: #f1f0f0;
    border: 1px solid #DBDBDB;
    color: #5f6166;
    font-size: 1em;
    text-align: left;
}
.rooms-table thead tr th {
    font-weight: 600;
}
.rooms-table thead tr th:last-child {
    text-align: center;
}
.rooms-table th,
.rooms-table td {
    padding: 1em;
}
.rooms-table tbody tr {
    border-bottom: 1px solid #DBDBDB;
}
.rooms-table tbody tr:hover {
    cursor: pointer;
    background-color: #f3f3f3;
    transition: all 300ms;
}
.rooms-table tbody tr td:first-child {
    color: #3F3D56;
    font-weight: 400;
}
.rooms-table tbody tr td:last-child {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}
.rooms-table tbody td .view-btn {
    font-family: Poppins;
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    background-color: #0276EA;
    padding: 0.3em 1.3em;
    border: none;
    border-radius: 0.5em;
} 
.rooms-table tbody td .view-btn:hover {
    cursor: pointer;
    background-color: #056dd4;
    transition: all 300ms;
}
.rooms-table tbody td .leave-btn {
    font-family: Poppins;
    text-decoration: none;
    color: #007FFF;
    font-size: 0.8em;
    font-weight: 600;
    background-color: transparent;
    padding: 0.3em 1.3em;
    border: 1px solid transparent;
    border-radius: 0.5em;
} 
.rooms-table tbody td .leave-btn:hover {
    cursor: pointer;
    border: 1px solid #007FFF;
    transition: all 300ms;
}
@media (max-width: 768px) {
    .rooms-table th,
    .rooms-table td {
    padding: 0.7em;
    }
    .rooms-table thead {
        display: none;
    }
    .rooms-table tbody tr:hover {
        cursor: default;
    }
    .rooms-table tbody tr td {
        display: block;
        width: 100%;
        text-align: right;
        padding-left: 40%;
        position: relative;
        border-bottom: 1px solid #DBDBDB;
    }
    .rooms-table tbody tr td:last-child {
        border-bottom: 1px solid transparent;
    }
    .rooms-table tbody tr td:last-child {
        display: block;
        padding-left: 1em;
        padding-right: 1em;
    }
    .rooms-table tbody tr td .view-btn {
        width: 50%;
        padding: 0.5em 1.3em;
    } 
    .rooms-table tbody tr td .leave-btn {
        width: 50%;
        padding: 0.5em 1.3em;
    } 
    .rooms-table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1em;
        font-weight: 600;
        text-align: left;
    }
}