.professorRatings-table {
    border-collapse: collapse;
    font-size: 0.8em;
    font-weight: 400;
    color: #3F3D56;
    width: 100%;
    border: none;
    text-align: center;
    background-color: white;
}
.professorRatings-table thead tr {
    background-color: #ebebeb;
    color: #5f6166;
    font-size: 1em;
    text-align: center;
}
.professorRatings-table thead tr th {
    font-weight: 600;
}
.professorRatings-table thead tr th:first-child {
    text-align: left;
    padding-left: 1.5em;
}
.professorRatings-table thead tr th:last-child {
    text-align: center;
}
.professorRatings-table th,
.professorRatings-table td {
    padding: 1em;
}
.professorRatings-table tbody tr {
    border-bottom: 1px solid #DBDBDB;
}
.professorRatings-table tbody tr td:first-child {
    text-align: left;
}
.professorRatings-table tbody tr td:last-child {
    text-align: center;
}
.professorRatings-table tbody tr td .professor-name {
    display: flex;
    gap: 0.8em;
    align-items: center;
}
.professorRatings-table tbody tr td .ratings {
    display: flex;
    gap: 0.8em;
    align-items: center;
    justify-content: center;
}
.professorRatings-table tbody tr:hover {
    background-color: #FCFCFC;
    transition: all 300ms;
}
.professorRatings-table tbody tr:last-child {
    border-bottom: 1px solid transparent;
}
.professorRatings-table tbody tr td:first-child {
    color: #007FFF;
    font-weight: 500;
}
.professorRatings-table tfoot tr {
    background-color: #ececec;
    color: #3F3D56;
    font-weight: 600;
    padding: 0.1em 0em;
}
@media (max-width: 830px) {
    .professorRatings-table th,
    .professorRatings-table td {
    padding: 0.7em;
    }
    .professorRatings-table thead {
        display: none;
    }
    .professorRatings-table tbody tr {
        width: 100%;
    }
    .professorRatings-table tbody tr td {
        display: block;
        width: 237%;
        text-align: right;
        position: relative;
    }
    .professorRatings-table tbody tr td:first-child {
        display: block;
        width: 237%;
        text-align: left;
        position: relative;
    }
    .professorRatings-table tbody tr td:last-child {
        display: block;
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: 1px solid transparent;
    }
    .professorRatings-table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 1em;
        font-weight: 600;
        text-align: left;
    }
}
@media (max-width: 455px) {
    .professorRatings-table tbody tr td {
        display: block;
        width: 250%;
        text-align: right;
        position: relative;
    }
    .professorRatings-table tbody tr td:first-child {
        display: block;
        width: 250%;
        text-align: left;
        position: relative;
    }
}