.css-1sjizby-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px;
}

.css-1sjizby-MuiGrid-root>.MuiGrid-item {
    padding-top: 0px;
}

.MuiGrid-root .MuiGrid-item .MuiGrid-grid-xs-12 .css-62s12a-MuiGrid-root {
    padding-top: 0px;
}

.css-62s12a-MuiGrid-root {
    padding-top: 0px;
}