.root {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: '100vh';
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
