.classcards-table {
  border-collapse: collapse;
  font-size: 0.8em;
  font-weight: 400;
  color: #3f3d56;
  width: 100%;
  border: none;
  text-align: center;
  font-family: Poppins;
  background-color: white;
}
.classcards-table thead tr {
  background-color: #ebebeb;
  color: #5f6166;
  font-size: 1em;
  text-align: center;
}
.classcards-table thead tr th {
  font-weight: 600;
}
.classcards-table thead tr th:first-child {
  text-align: left;
  padding-left: 1.5em;
}
.classcards-table thead tr th:nth-child(2) {
  text-align: center;
}
.classcards-table th,
.classcards-table td {
  padding: 1em;
}
.classcards-table tbody tr {
  border-bottom: 1px solid #dbdbdb;
}
.classcards-table tbody tr td:first-child {
  text-align: left;
  padding-left: 1.5em;
}
.classcards-table tbody tr td:nth-child(2) {
  text-align: center;
}
.classcards-table tbody tr:hover {
  background-color: #fcfcfc;
  transition: all 300ms;
}
.classcards-table tbody tr td:first-child {
  color: #007fff;
  font-weight: 600;
}
.classcards-table tbody td .evaluate-btn {
  font-family: Poppins;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  /* background-color: #0276EA; */
  background-color: #dbdada;
  padding: 0.3em 1.3em;
  border: none;
  border-radius: 0.5em;
}
/* .classcards-table tbody td .evaluate-btn:hover {
    cursor: pointer;
    background-color: #056dd4;
    transition: all 300ms;
} */
.classcards-table tfoot tr {
  background-color: #ececec;
  color: #3f3d56;
  font-weight: 600;
  padding: 0.1em 0em;
}
