.css-12mu0aj-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 15px;
    margin: 0px 15px 0px 5px;
    white-space: nowrap; 
    width: 90px;
}
.css-z82nsn-MuiInputBase-root-MuiFilledInput-root {
    background-color: #FCFCFC;
}